

<form [formGroup]="myForm"  (ngSubmit)="saveUser()">
    FirstName : <input type="text" formControlName="firstName"/>
   
    <span *ngIf="myForm.get('firstName')?.touched && myForm.get('firstName')?.invalid">
        Please Enter FirstName
    </span>

    <br>

    Email : <input type="text" formControlName="email"/>
    <span *ngIf="myForm.get('email')?.touched && myForm.get('email')?.invalid">
        Please Enter Email
    </span>
    <br>

    Password: <input type="password" formControlName="password"/>
    <span *ngIf="myForm.get('password')?.touched && myForm.get('password')?.invalid">
        Please Enter Password
    </span>
    <br>

    Confirm Password: <input type="password" formControlName="confirmPassword"/>
    <span *ngIf="myForm.get('confirmPassword')?.touched && myForm.get('confirmPassword')?.invalid">

        <span *ngIf="myForm.get('confirmPassword')?.hasError('required')">
            Please Enter ConfirmPassword
        </span>
        <span *ngIf="myForm.get('confirmPassword')?.hasError('chkPwdNCnfPwd')">
            Password and Confirm Password must be same
        </span>
        
    </span>
    

   <br>

    <input type="submit" value="Signup"/>



</form>