<table border="1">

    <tr>
        <th>Id</th>
        <th>FirstName</th>
        <th>LastName</th>
        <th>Email</th>
        <th>Password</th>
        <th>Action</th>
    </tr>

    <tr *ngFor="let u of users">
    
    
        <td>{{u.id}}</td>
        <td>{{u.first_name}}</td>
        <td>{{u.last_name}}</td>
        <td>{{u.email}}</td>
        <td>{{u.password}}</td>
        <td><button (click)="deleteUser(u.id)">Delete</button> | 
            <a routerLink="/api-edit-user/{{u.id}}">Edit</a>
        </td>
    
    
    </tr>

</table>
